<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Game">
    <test verbose="2" name="Default" preserve-order="true">
        <classes>
            <class name="Entities.PlayerTests"/>
            <class name="Game.GameTests"/>
        </classes>
    </test>
</suite>
